/* Footer.css */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background: #f8f9fa;
    color: rgb(152, 166, 173);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    border-top: 1px solid #ddd;
    margin-top: 30px;
  }
  
  .footer .left {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(152, 166, 173);
    margin-left: 245px;

  }
  
  .footer .right {
    text-align: right;
    color: rgb(152, 166, 173);
  }
  
  .footer .icon {
    vertical-align: middle;
    color: rgb(152, 166, 173);
   
  }
  