.short-description-container {
    margin-bottom: 20px;
    background-color: white;
    height: 180px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-left: 50px;
  width: 390px;

   

  }
  
  .description-label {
    font-weight: 500;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    color: rgb(73, 80, 87);
  }
  
  .description-textarea {
    width: 360px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 13px;
    font-family: Arial, sans-serif;
    resize: vertical;
    box-sizing: border-box;
    margin-left: 15px;
   
  }
  .addshort{
    font-size:13px ;
    font-weight: 400;
    padding-left: 10px;
    padding-bottom: 0px;
  }
  
  .description-textarea:focus {
    outline: none;
  }
  
  .divtag{
    border-bottom: 1px solid #ddd;
  }
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 20px;
  }