body {
  background-color:rgb(206, 212, 218);
  margin: 0; /* Removes default margin for a full-width color */
  padding: 0; /* Ensures no extra padding */
}

.publish-form-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px; /* Adjust the spacing from the right edge */
}
