body {
  background-color:rgb(206, 212, 218);
  margin: 0; /* Removes default margin for a full-width color */
  padding: 0; /* Ensures no extra padding */
}

.publish-form-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 1rem;
  margin-left: 1050px;
  width: 400px; /* Add spacing between components */
}

